{{$ctrl.hello}}

<div ng-include="'navbar.partial.html'"></div>

<h4 class="span12" ng-if="!$ctrl.canEdit && !$ctrl.isArchive">
		This invoice is read-only, because it is not in your queue
</h4>

<h4 class="span12" ng-if="$ctrl.canEdit">
		This invoice currently belongs to {{$ctrl.currentQueueName}}
</h4>

<h4 class="span12" ng-if="$ctrl.isArchive">
		This is an archived invoice
</h4>

<div class="row">
	<div class="col-sm-6">
		<div class="well well-lg">
			<div ng-include="'components/invoice-detail/file-viewer.partial.html'"></div>
		</div>
	</div>

	<div class="col-sm-6">
		<!-- if bs-modfiable is true, form changes tracked with AIM -->
		<form name="Form" bs-modifiable="{{$ctrl.canEdit && $ctrl.enableAim}}" novalidate>
				<div class="well well-lg">
					<div ng-include="'components/invoice-detail/details.partial.html'"></div>
				</div>

				<div class="well well-lg">
					<div ng-include="'components/invoice-detail/line-items.partial.html'"></div>
				</div>
		</form>
	</div>
</div>

<!-- TODO: Make collapsable -->
<div class="row">
	<div class="well well-lg">
		<div ng-include="'components/invoice-detail/history.partial.html'"></div>
	</div>
</div>

<div class="row">
	<!-- if the form was changed and it is not new, must explain all changes -->
	<div ng-if="$ctrl.canEdit && Form.modified" class="well well-lg">
		<h3>Explain your changes:</h3>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Field</th>
					<th>Leave a comment:</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="change in Form.modifiedModels">
					<td>{{change.$name}}</td>

					<td>
						<textarea rows="4" cols="50" ng-model="$ctrl.changeComments[$index]"></textarea>
					</td>
				</tr>
			</tbody>
		</table>

		<div>
			<button
				ng-click="Form.reset()">
				Reset all changes
			</button>
		</div>
	</div>

	<div ng-if="$ctrl.canEdit">
		<div ng-include="'components/invoice-detail/submit.partial.html'"></div>
	</div>
</div>

<div ng-include="'navbar.partial.html'"></div>
