<div ng-include="'navbar.partial.html'"></div>

<h2 class="span12">Welcome back, {{$ctrl.CurrentUser.firstName}}</h2>

<!-- list selector -->
<div class="row">
	<div class="col-sm-1"></div>

	<div class="col-sm-4">
	   <div class="span12 well well-lg">
			<div class="btn-group">
				<label class="btn btn-primary"
					   ng-model="$ctrl.view"
					   uib-btn-radio="'QUEUE'"
					   ng-change="$ctrl.updateInvList()">
					My Queue
				</label>

				<label class="btn btn-primary"
					   ng-model="$ctrl.view"
					   uib-btn-radio="'TEAM'",
					   ng-change="$ctrl.updateInvList()">
					Team View
				</label>

				<label class="btn btn-primary"
					   ng-model="$ctrl.view"
					   uib-btn-radio="'ARCHIVE'",
					   ng-change="$ctrl.updateInvList()">
					Archives
				</label>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="span12 well well-lg">
			<label>Sort by:</label>

			<select
				ng-model="$ctrl.currentSorter"
				ng-options='option.value
							as option.desc
							for option
							in $ctrl.SORTOPTIONS'>
			</select>
		</div>
	</div>

	<div class="col-sm-2">
		<div class="span12 well well-lg">
			<button class="btn btn-primary" ng-click="$ctrl.refreshDropzone();">Dropzone</button>
		</div>
	</div>

	<div class="col-sm-1"></div>
</div>

<div ng-if="$ctrl.view === 'ARCHIVE'" ng-include="'components/user-dashboard/archive-searcher.partial.html'"></div>

<div ng-repeat="(queueName, queue) in $ctrl.invList">
	<div class="col-sm-12">
		<div class="well well-lg">
			<h3>{{queueName}}</h3>

			<p ng-if="queue.length === 0">Nothing to see here</p>

			<table class="table table-hover" ng-if="queue.length !== 0">
				<thead>
					<tr>
						<th>Received date</th>
						<th>Service date</th>
						<th>Vendor</th>
						<th>Details</th>
						<th>Total</th>
						<th ng-if="$ctrl.view === 'ARCHIVE'">Origin</th>
					</tr>
				</thead>

				<tbody ng-repeat="invoice in queue | orderBy: $ctrl.currentSorter">
					<tr ng-if="$ctrl.view !== 'ARCHIVE' || !invoice.isLegacy"
						ng-click="$ctrl.redirectInvoiceDetail(invoice)">
						<td>{{invoice.actions[0].date | date : 'MMM d, y h:mm a'}}</td> <!-- last is always received -->
						<td>{{invoice.serviceDate | date}}</td>
						<td>{{invoice._vendor.name}}</td>
						<td>{{$ctrl.getDetailStr(invoice)}}</td>
						<td>{{(invoice.amount | currency) || 'Not entered'}}</td>
						<td ng-if="$ctrl.view === 'ARCHIVE'">Saguaro</td>
					</tr>

					<tr ng-if="$ctrl.view === 'ARCHIVE' && invoice.isLegacy"
						ng-click="$ctrl.redirectInvoiceDetail(invoice)">
						<td colspan="5" class="span12">Path: {{invoice.path_display}}</td>
						<td>Legacy</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
